name: Node.js CI

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Install, build and test
        run: |
          npm install
          npm run build --if-present
          npm run test --if-present
      - name: Archive production artifacts
        uses: actions/upload-artifact@v2
        with:
          name: dist
          path: |
            dist
            !dist/**/*.md
          retention-days: 7

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v2
        with:
          name: dist
      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_MULTIMEDIA_KEY }}
          name: id_rsa-multimedia
          known_hosts: ${{ secrets.SSH_MULTIMEDIA_KNOWN_HOST }}
          config: |
            Host multimedia
            Port ${{ secrets.SSH_MULTIMEDIA_PORT }}
            HostName ${{ secrets.SSH_MULTIMEDIA_HOST }}
            User ${{ secrets.SSH_MULTIMEDIA_USER }}
            IdentityFile ~/.ssh/id_rsa-multimedia
      - name: Extract branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch
      - name: Deploy with rsync
        run: rsync -avz ./dist/ multimedia:/home/${{ secrets.SSH_MULTIMEDIA_USER }}/${{ steps.extract_branch.outputs.branch }}/
